<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" 
        crossorigin="anonymous">

</head>
<body class="m-5">

    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-4">
                <a href="{% url 'home' %}" class="btn btn-dark my-3">Return</a>
                <div class="card">
                    <form method='POST' action="" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="form-group m-3">
                            <label>Upload image</label>
                            {% if errors %}
                            <div style="color: red">
                            Files: {% for file in errors %} "{{file}}" {% endfor %} were not uploaded.
                            </br>
                            Allowed file types are "jpg","jpeg","svg" and "png".
                            </div>
                            {% endif %}
                            <input required name="pictures" type="file" multiple class="form-control-file">
                        </div>

                        <button type='submit' class="btn btn-primary m-3">Submit</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>