<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" 
        crossorigin="anonymous">

    <style>
        .scrollable{
            overflow-y: auto;
            max-height: 350px;
            }
    </style>
</head>
<body class="m-2" >
    
    <div class="container">
        <div class="row  align-items-center justify-content-center">
            <div class="col">

                <a href="{% url 'home' %}" class="btn btn-dark my-3">Return</a>
                <div style="height: 85vh;">
                    <img style="max-width: 100%; max-height: 100%;" src="{{picture.image.url}}">
                </div>
            </div>

            <div class="col-lg">
                <form class="form-horizontal" method="POST" enctype="multiport/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <input type="text" id="pname" name="pname" placeholder="Insert your name in order to comment/like">
                    </div>
                    <div class="row">
                        <textarea placeholder="Type a comment" id="comment" name="comment" cols="5" rows="5"></textarea>
                    </div>

                    <div class="row">
                        <div class="col">
                            <button class="btn btn-danger my-3" formmethod="post" formaction="{% url 'send_like' picture.id %}">Like</button>
                            {{picture.likes.all.count}} likes
                        </div>
                        <div class="col">
                            <button class="btn btn-primary my-3" formmethod="post" formaction="{% url 'send_comment' picture.id %}">Comment</button>
                            {{picture.comments.all.count}} comments
                        </div>
                    </div>
                </form>

                <div class="row">
                    <div class="col">
                        <div class="card" style="height:350px">
                            <div class="scrollable">
                            <div class="card-header text-center">
                                Likes
                            </div>
                            {% for like in picture.likes.all %}
                            <div class="card my-2">
                            <strong>{{like.name}} - {{like.date_added}}</strong>
                            </div>
                            {% empty %}
                            There are no likes.
                            {% endfor %}
                        </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card" style="height:350px">
                            <div class="scrollable">
                            <div class="card-header text-center">
                                Comments
                            </div>
                            {% for comment in picture.comments.all %}
                            <div class="card my-2">
                            <strong>{{comment.name}} - {{comment.date_added}}</strong>
                            {{comment.body}}
                            </div>
                            {% empty %}
                            There are no comments.
                            {% endfor %}
                        </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
    
</body>
</html>