<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" 
        crossorigin="anonymous">

    <style>
        .image-thumbail {
            height: 200px;
            object-fit: cover;
        }

        .list-group-item a {
            text-decoration: none;
            color: black;
        }
    </style>
</head>
<body class="m-2">

    <div class="container">
        <div class="row">
            <div class="col-md-3 align-items-center justify-content-center">
                <div class="card">
                    <a href="{% url 'add_photo' %}" class="btn btn-outline-dark btn-sm m-1">Add photo</a>
                    <a href="{% url 'login' %}" class="btn btn-outline-dark btn-sm m-1">Login</a>
                    {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="btn btn-outline-dark btn-sm m-1">Logout</a>
                    {% endif %}
                </div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    {% for pic in pictures %}
                    <div class="col-md-4">
                        <div class="card my-2">
                            <img class="image-thumbail" src="{{pic.image.url}}" alt="Card image cap">
                            <a href="{% url 'view_photo' pic.id %}" class="btn btn-outline-dark btn-sm m-1">View</a>
                            {% if user.is_authenticated %}
                            <a href="{% url 'delete_photo' pic.id %}" class="btn btn-outline-danger btn-sm m-1">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                    {% empty %}
                    <h1>There are no pictures. Upload some! </h1>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
    
</body>
</html>