<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" 
        crossorigin="anonymous">
</head>

<body class="m-5">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem; background-color: rgb(230, 227, 227);">
                    <div class="card-body p-5 text-center">
                        <div class="login-card">
                            <h1>Log-in</h1><br>
                            {%if form_errors %}
                            <p>Username or password not correct. Try again.</p>
                            {% endif %}
                            <form class="form-horizontal" action="" method="POST" enctype="multiport/form-data">
                                {% csrf_token %}
                                {% for field in form %}
                                <div class="form-group">
                                    <label class="control-label col-sm-2">{{ field.label_tag }}</label> 
                                    <div class="">{{ field }}</div>
                                </div>
                                {% endfor %}  
                                <input type="submit" name="login" class="btn btn-outline-dark btn-sm m-1" value="login">
                            </form>
                            {{error_message}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>