<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" 
        crossorigin="anonymous">

    <style>
        .image-thumbail {
            height: 200px;
            object-fit: cover;
        }

        .list-group-item a {
            text-decoration: none;
            color: black;
        }
    </style>
</head>
<body class="m-2">

    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col">
                <a href="{% url 'home' %}" class="btn btn-dark my-3">Return</a>
            </div>

            <div class="col-md-9">
                <div class="row">
                    {% for pic in pictures %}
                    <div class="col-md-4">
                        <div class="card my-2">
                            <img class="image-thumbail" src="{{pic.image.url}}" alt="Card image cap">
                            <a href="{% url 'accept_pic' pic.id %}" class="btn btn-success btn-sm m-1">Accept</a>
                            <a href="{% url 'reject_pic' pic.id %}" class="btn btn-danger btn-sm m-1">Reject</a>
                        </div>
                    </div>
                    {% empty %}
                    <h3>There are no pictures to approve/reject.</h3>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
    
</body>
</html>